<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form action="/add" method="post">

    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author" required>

    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required>

    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="10" cols="50" required></textarea>
    <input type="submit" value="Submit">

</form>

</body>
</html>